<div class="content-container" *ngIf="item">
    <div class="item-display">
        <h2>Product Details</h2>
        <mat-card style="margin: 10px; display: flex; justify-content: flex-start;">
            <span style="width: 50%; height: 300px; display: flex; justify-content: center;">
                <img src="../../../assets/images/items/{{item.filename}}" style="object-fit: contain; overflow: hidden;"/>
            </span>
            <span>
                <p style="margin-bottom: 0px;"><b>{{item.itemName}}</b></p>
                <span style="display: flex; justify-content: flex-start;">
                    <mat-icon *ngFor="let w of [].constructor(this.ratingToStars(item.itemRating).wholeStars)">star</mat-icon>
                    <mat-icon *ngFor="let h of [].constructor(this.ratingToStars(item.itemRating).halfStars)">star_half</mat-icon>
                    <mat-icon *ngFor="let b of [].constructor(this.ratingToStars(item.itemRating).borderStars)">star_border</mat-icon>
                </span>
                <p>${{item.itemPrice}}</p>
                <p>{{item.itemDescription}}</p>
                <button mat-raised-button color="primary">Add To Cart</button>
            </span>
        </mat-card>
    </div>
    <mat-divider style="margin-bottom: 10px;"></mat-divider>
    <div *ngIf="itemReviews">
        <div style="display: flex; justify-content: space-between;">
            <h2>Reviews</h2>
            <button mat-button (click)="openReviewDialog()">Write A Review! <mat-icon>edit</mat-icon></button>
        </div>
        <div *ngFor="let i of itemReviews">
            <mat-card style="margin: 10px; background: rgb(240, 240, 240);">
                <div style="display: flex; justify-content: flex-start;">
                    <mat-icon color="primary" *ngFor="let w of [].constructor(this.ratingToStars(i.rating).wholeStars)">star</mat-icon>
                    <mat-icon *ngFor="let h of [].constructor(this.ratingToStars(i.rating).halfStars)">star_half</mat-icon>
                    <mat-icon *ngFor="let b of [].constructor(this.ratingToStars(i.rating).borderStars)">star_border</mat-icon>
                </div>
                <div style="display: flex;">
                    <h3>{{i.username}} said...</h3>
                </div>
                <p>{{i.review}}</p>
            </mat-card>
        </div>
        <div *ngIf="itemReviews.length === 0">No Reviews yet!</div>
    </div>
</div>
    