/* Container holding the image and the text */
.backdrop-container {
    position: relative;
    text-align: center;
    color: white;
    background: black;
}

.backdrop-container > img {
    display: block;
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);

    /* Create see-through effect to shade image using the div background */
    opacity: 0.6;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    font-size: 3.25em;
    font-style: italic;
}

/** -- **/

.item-listing-card {
    min-width: 300px;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 10px;
    text-align: center;
}

.item-listing-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #FFEF00;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
}

.item-image-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.item-image-wrapper > img {
    object-fit: contain;
    max-height: 300px;
}

.item-price {
    font-weight: bold;
}

.item-description {
    color: gray;
    font-size: 14px;
}