<div style="background: rgb(223, 223, 233);">
    <img src="../../../assets/images/site/backdrop.jpg" style="width: 100%;"/>

    <div style="display: flex; justify-content: space-between; margin-left: 10px; margin-right: 10px;">
        <h3 *ngIf="authService.getLoggedInUser()">Top Picks for {{ authService.getLoggedInUser().firstName }}</h3>
        <mat-form-field>
            <mat-label>Sort</mat-label>
            <select matNativeControl [value]="undefined" (change)="sortItems($event)">
                <option value="itemName">A - Z</option>
                <option value="-itemName">Z - A</option>
                <option value="itemPrice">Price Low to High</option>
                <option value="-itemPrice">Price High to Low</option>
            </select>
        </mat-form-field>
    </div>
    
    <div *ngIf="itemService.getItems()" class="items-container">
        <mat-card *ngFor="let item of itemService.getItems()" class="item-listing-card">
            <div class="item-image-wrapper"><img src="../../../assets/images/items/{{item.filename}}"/></div>
            <div>{{ item.itemName }}</div>
            <div class="item-price">${{ item.itemPrice }}</div>
            <p class="item-description">{{ item.itemDescription }}</p>
        </mat-card>
    </div>
</div>