<div>
    <h2 *ngIf="authService.getLoggedInUser()">Top picks for {{ authService.getLoggedInUser().firstName }}</h2>

    <div *ngIf="itemService.getItems()" class="items-container">
        <mat-card *ngFor="let item of itemService.getItems()">
            <div class="item-image-wrapper"><img src="../../../assets/images/items/{{item.filename}}"/></div>
            <div>{{ item.itemName }}</div>
            <div class="item-price">${{ item.itemPrice }}</div>
            <p class="item-description">{{ item.itemDescription }}</p>
        </mat-card>
    </div>
</div>