<div class="nav-bar">
    <span class="nav-left-content">
        <!-- Sidenav menu controls -->
        <button *ngIf="sidenavOpened" mat-button class="sidenav-toggle" (click)="sidenav.toggle()"><mat-icon>close</mat-icon></button>
        <button *ngIf="!sidenavOpened" mat-button class="sidenav-toggle" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        
        <!-- Main logo -->
        <img src="../../assets/images/site/nav_logo.png" class="nav-bar-title" (click)="toHome()">

        <!-- Search Bar -->
        <div class="search-wrapper">
            <input type="text" #searchTerm class="search-input search-component" placeholder="Search for a product..."/>
            <button mat-raised-button color="primary" class="search-button search-component" (click)="searchItems(searchTerm.value)"><mat-icon>search</mat-icon></button>
        </div>
    </span>
    <span class="nav-right-content">
        <!-- Sell button -->
        <button mat-button *ngIf="authService.getLoggedInUser()" (click)="openSellItemDialog()" title="Sell An Item">
            <span class="navbar-button-content">
                <mat-icon>attach_money</mat-icon>
            </span>
        </button>

        <!-- Cart Button -->
        <button mat-button *ngIf="authService.getLoggedInUser()" title="My Cart">
            <span class="navbar-button-content">
                <mat-icon>shopping_cart</mat-icon>
            </span>
        </button>

        <!-- Account Button -->
        <button mat-button *ngIf="!authService.getLoggedInUser()" (click)="toLogin()" title="Log In">
            <span class="navbar-button-content">Log In</span>
        </button>
        <button mat-button *ngIf="authService.getLoggedInUser()" [matMenuTriggerFor]="accountMenu">
            <span class="navbar-button-content">
                Hello, {{ authService.getLoggedInUser().firstName }}
                <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
        </button>
        <mat-menu #accountMenu="matMenu" class="account-menu-dropdown">
            <button mat-menu-item (click)="toAccountDetails()">Account Details</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </span>
</div>