<div class="sidenav-wrapper">
    <div class="sidenav-title" *ngIf="commonService.getCategories()">Shop by Category</div>
    <button mat-button (click)="selectCategory({categoryId:null})">All Categories</button><br>
    <button mat-button *ngFor="let c of commonService.getCategories()" (click)="selectCategory(c)">{{c.categoryName}}</button><br>

    <div class="sidenav-title">Congo.com</div>
    <button mat-button>About</button><br>
    <button mat-button>Settings</button><br>
    <button mat-button>Privacy</button><br>
    <button mat-button>Careers</button><br>
    <button mat-button>Contact Us</button><br>
</div>