<div class="sidenav-wrapper">
    <div class="sidenav-title">Shop by Category</div>
    <button mat-button>Clothing, Shoes, Watches &amp; Jewelry</button><br>
    <button mat-button>Subscribe &amp; Save</button><br>
    <button mat-button>Books &amp; Audible</button><br>
    <button mat-button>Movies, Music &amp; Games</button><br>
    <button mat-button>Electronics, Computer &amp; Office</button><br>
    <button mat-button>Smart Home</button><br>
    <button mat-button>Home, Garden &amp; Tools</button><br>
    <button mat-button>Pet Supplies</button><br>
    <button mat-button>Food &amp; Grocery</button><br>
    <button mat-button>Beauty &amp; Health</button><br>
    <button mat-button>Toys, Kids &amp; Baby</button><br>
    <button mat-button>Handmade</button><br>
    <button mat-button>Sports &amp; Outdoors</button><br>
    <button mat-button>Automotive &amp; Industrial</button><br>

    <div class="sidenav-title">Congo.com</div>
    <button mat-button>About</button><br>
    <button mat-button>Settings</button><br>
    <button mat-button>Privacy</button><br>
    <button mat-button>Careers</button><br>
    <button mat-button>Contact Us</button><br>
</div>