.login-input, .login-button {
    display: block;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.login-input {
    border: 2px solid lightgray;
    padding: 5px;
}

.login-button {
    border: none;
    padding: 10px;
    background: rgb(0, 110, 255);
    color: white;
    font-weight: bold;
}

.login-container {
    background: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.login-prompt-container {
    border-bottom: 1px solid black;
}

.login-prompt {
    margin: 5px;
}

.logo-container {
    text-align: center;
}

.form-container {
    margin: 10px 5px;
}

.input-container {
    margin-bottom: 20px;
}

.register-container {
    text-align: center;
    margin: 10px 0px;
}

.register-link {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

@media screen and (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}