.login-input, .login-button {
    display: block;
    border-radius: 10px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.login-input {
    border: 2px solid lightgray;
    padding: 5px;
}

.login-button {
    border: none;
    padding: 10px;
    background: rgb(0, 110, 255);
    color: white;
    font-weight: bold;
}

.login-container {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

@media screen and (max-width: 600px) {
    .login-container {
        width: 90%;
    }
}