<app-nav-bar></app-nav-bar>
<div *ngIf="loggedInUser">
    <form [formGroup]="accountDetailsForm">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" value="{{loggedInUser.firstName}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" value="{{loggedInUser.lastName}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" value="{{loggedInUser.username}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" value="{{loggedInUser.email}}">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="updateAccountDetails()">Save</button>
    </form>
</div>
