.mat-card {
    margin: 10px;
}

.item-listing-card {
    min-width: 200px;
    width: 19%;
    margin: 0.5%;
    text-align: center;
}

.item-listing-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #FFEF00;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
}

.item-image-wrapper {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 5px;
}

.item-image-wrapper > img {
    object-fit: contain;
    max-height: 200px;
}

.item-price {
    font-weight: bold;
}

.item-description {
    color: gray;
    font-size: 14px;
}