<div *ngIf="itemService.getItems()">
    <!--<img src="../../../assets/images/site/backdrop.jpg" style="width: 100%;"/>-->

    <div style="display: flex; justify-content: space-between; margin-left: 10px; margin-right: 10px;">
        <span>
            <h3 *ngIf="itemService.getLastSearchTerm()">
                Search Results for <i>{{ itemService.getLastSearchTerm() }}</i>&nbsp;
                <span *ngIf="itemService.getItems().length == 1">(1 result)</span>
                <span *ngIf="itemService.getItems().length != 1">({{ itemService.getItems().length }} results)</span>
            </h3>
            <h3 *ngIf="!itemService.getLastSearchTerm()">Showing all items</h3>
        </span>
        <mat-form-field>
            <mat-label>Sort</mat-label>
            <select matNativeControl [value]="undefined" (change)="sortItems($event)">
                <option value="itemName">A - Z</option>
                <option value="-itemName">Z - A</option>
                <option value="itemPrice">Price Low to High</option>
                <option value="-itemPrice">Price High to Low</option>
            </select>
        </mat-form-field>
    </div>
    
    <div class="items-container">
        <app-item-card *ngFor="let item of itemService.getItems()" [item]="item"></app-item-card>
    </div>
</div>
<h3 *ngIf="!itemService.getItems()">Use the Search Bar to find something</h3>
    